.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.point {
  cursor: pointer;
}

.custom-button {
  -webkit-text-decoration: none;
  text-decoration: none;
  display: inline-block;
  background: #ed563b;
  color: #fff;
  font-size: 14px;
  padding: 12px 14px;
  -webkit-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
}

.empty-cart {
  font-size: 2em;
  color: #ed563b;
}

.highlight-form {
  border: 2px solid rgb(237, 86, 59);
  border-radius: 1em;
}
