<div>
    <p style="text-align: center;font-size: 2em;font-weight: bold;color: royalblue;">We received your message!</p>
    <div style="width: 80%;margin: auto;font-size: 1.5em;color: rgb(90, 87, 87);">
        </p>Dear {{name}},<p>
        <p>Thank you for writing to us. We have received your message about {{subject}} and will get back to you within 24 hours. Until then, you can give us a call anytime at <a style="text-decoration: none;color: cornflowerblue;" href="tel:+15483332823">+1 (548) 333-2823</a> or email <a style="text-decoration: none;color: cornflowerblue;" href="mailto:aryeshmarakna007@gmail.com">aryeshmarakna007@gmail.com</a>. </p>
        <p>Regards,<br>Your Fitness-A Team</p>
    </div>
</div>